<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>Servlets.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVendorServlet</servlet-name>
        <servlet-class>Servlets.EditVendorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVendorServlet</servlet-name>
        <servlet-class>Servlets.ShowVendorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>Servlets.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerServlet</servlet-name>
        <servlet-class>Servlets.ShowCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleCustomerServlet</servlet-name>
        <servlet-class>Servlets.SingleCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleVendorServlet</servlet-name>
        <servlet-class>Servlets.SingleVendorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVendorServlet</servlet-name>
        <servlet-class>Servlets.CreateVendorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>Servlets.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoleServlet</servlet-name>
        <servlet-class>Servlets.ShowRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleRoleServlet</servlet-name>
        <servlet-class>Servlets.SingleRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoleServlet</servlet-name>
        <servlet-class>Servlets.EditRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleUserServlet</servlet-name>
        <servlet-class>Servlets.SingleUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserServlet</servlet-name>
        <servlet-class>Servlets.ShowUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>Servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>Servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleCashierServlet</servlet-name>
        <servlet-class>Servlets.SingleCashierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCashierServlet</servlet-name>
        <servlet-class>Servlets.ShowCashierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCashierServlet</servlet-name>
        <servlet-class>Servlets.EditCashierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCashierServlet</servlet-name>
        <servlet-class>Servlets.CreateCashierServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>ShowWareHouseServlet</servlet-name>
        <servlet-class>Servlets.ShowWareHouseServlet</servlet-class>
    </servlet>

                         
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVendorServlet</servlet-name>
        <url-pattern>/EditVendorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVendorServlet</servlet-name>
        <url-pattern>/ShowVendorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerServlet</servlet-name>
        <url-pattern>/ShowCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleCustomerServlet</servlet-name>
        <url-pattern>/SingleCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleVendorServlet</servlet-name>
        <url-pattern>/SingleVendorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVendorServlet</servlet-name>
        <url-pattern>/CreateVendorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoleServlet</servlet-name>
        <url-pattern>/ShowRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleRoleServlet</servlet-name>
        <url-pattern>/SingleRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoleServlet</servlet-name>
        <url-pattern>/EditRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleUserServlet</servlet-name>
        <url-pattern>/SingleUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserServlet</servlet-name>
        <url-pattern>/ShowUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCashierServlet</servlet-name>
        <url-pattern>/CreateCashierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCashierServlet</servlet-name>
        <url-pattern>/EditCashierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCashierServlet</servlet-name>
        <url-pattern>/ShowCashierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleCashierServlet</servlet-name>
        <url-pattern>/SingleCashierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowWareHouseServlet</servlet-name>
        <url-pattern>/ShowWareHouseServlet</url-pattern>
    </servlet-mapping>        

    <servlet>
        <servlet-name>ShowWareHouseServletONE</servlet-name>
        <servlet-class>Servlets.ShowWareHouseServletONE</servlet-class>
    </servlet>             
                                       
     <servlet-mapping>
        <servlet-name>ShowWareHouseServletONE</servlet-name>
        <url-pattern>/ShowWareHouseServletONE</url-pattern>
    </servlet-mapping>  

                                                                                                                                                                                                                                                                                                                                                                                                              
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
